In [1]:
import pandas as pd

df = pd.read_csv("../datasets/after_meta_train.csv")

df["trade_date"] = pd.to_datetime(df["trade_date"])
df["trade_date"] = pd.to_datetime(df["trade_date"])
df.head()

,PCA_0,PCA_1,PCA_2,PCA_3,PCA_4,PCA_5,PCA_6,PCA_7,PCA_8,PCA_9,PCA_10,PCA_11,PCA_12,y_primary,y_label,trade_date,FirstTime
0,-1.468063,-1.831594,-0.817531,2.047821,-0.015004,-2.903390,0.304525,0.135327,0.635183,2.744622,1.105681,-2.208150,-0.244515,0.0,0.0,2000-03-27,2000-04-24
1,-1.690805,-1.040045,-0.212198,0.629608,0.772825,-2.906077,0.295715,-0.036432,0.443580,2.351695,1.050067,-2.241135,-0.069537,0.0,0.0,2000-03-28,2000-04-25
2,-2.102199,-0.194824,-0.540846,0.363167,0.941835,-3.125420,0.053546,-0.632717,0.532236,2.347729,1.404738,-1.677663,0.073869,0.0,0.0,2000-03-29,2000-04-26
3,-2.008817,-0.686029,-1.223046,1.266332,0.507195,-2.747056,-0.006095,-0.379372,0.602446,2.321144,1.794211,-1.676252,-0.185938,0.0,0.0,2000-03-30,2000-04-27
4,-2.256575,0.139925,-0.900462,0.257093,0.836378,-2.956129,-0.050156,-0.475115,0.711326,2.364939,1.889335,-1.419946,-0.236244,0.0,0.0,2000-03-31,2000-04-28

In [2]:
def get_independence(sr1, sr2, date_sr):
    C = pd.DataFrame()
    C["date"] = date_sr
    C["count"] = 0
    C["date"] = pd.to_datetime(C["date"])
    for start_date, end_date in zip(sr1, sr2):
        C.loc[(C["date"] > start_date) & (C["date"] <= end_date), "count"] += 1
    result = pd.DataFrame()
    result["start_date"] = sr1
    for i, (start_date, end_date) in enumerate(zip(sr1, sr2)):
        c = C.loc[(C["date"] > start_date) & (C["date"] <= end_date), "count"]
        if len(c) == 0:
            result.loc[i, "p"] = 1/2
            continue
        result.loc[i, "p"] = ((1/(c+1)).sum())/len(c)
    return result


independence = get_independence(
    df["trade_date"], df["FirstTime"], df["trade_date"])
independence.head()

  start_date         p
0 2000-03-27  0.135019
1 2000-03-28  0.113352
2 2000-03-29  0.100019
3 2000-03-30  0.090852
4 2000-03-31  0.085397

In [3]:
# sample weight
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, roc_auc_score
import warnings

warnings.filterwarnings("ignore")
sample_weight = independence["p"]/sum(independence["p"])

# 5-fold 交叉验证
K = 5
df_len = len(df)//K
start_time_list = [df.loc[df_len*i, "trade_date"]
                   for i in range(K)]+[df.iloc[-1]["trade_date"]]

# 防止信息泄露
date_df = pd.DataFrame()
date_df["trade_date"] = df["trade_date"]
date_df["trade_date_pre_30"] = date_df["trade_date"].shift(30)
date_df["trade_date_30"] = date_df["trade_date"].shift(-30)
date_df.fillna(method="bfill", inplace=True)
date_df.fillna(method="ffill", inplace=True)
date_df.set_index("trade_date", inplace=True)

max_depth_list = [None, 2, 5]
max_features_list = ["auto", 2, 5]
score_list = []
for max_depth in max_depth_list:
    for max_features in max_features_list:
        score = 0
        for i in range(K):
            df_valid = df[(df["trade_date"] > start_time_list[i])
                          & (df["trade_date"] < start_time_list[i+1])]

            X_valid = df_valid.values[:, :-3]
            y_valid = df_valid.values[:, -3].astype("int")

            valid_date_start = df_valid.iloc[0]["trade_date"]
            valid_date_end = df_valid.iloc[-1]["trade_date"]
            df_train = df[(df["trade_date"] < date_df.loc[valid_date_start, "trade_date_pre_30"]) |
                          (df["trade_date"] > date_df.loc[valid_date_end, "trade_date_30"])]

            X_train = df_train.values[:, :-3]
            y_train = df_train.values[:, -3].astype("int")

            sample_weight = pd.merge(df_train, independence,
                                     left_on="trade_date", right_on="start_date", how="inner")["p"]

            # 500棵树
            myforest = RandomForestClassifier(
                max_depth=max_depth, n_estimators=500)
            myforest.fit(X_train, y_train)
            score_ = myforest.score(X_valid, y_valid)
            score += score_
        score_list.append(score/K)

score_list

[0.516931982633864,
 0.5082489146164979,
 0.516642547033285,
 0.5073806078147612,
 0.5033285094066571,
 0.5021707670043416,
 0.5247467438494935,
 0.5238784370477569,
 0.5212735166425471]

In [4]:
tmp = pd.DataFrame()
i = 0
for max_depth in max_depth_list:
    for max_features in max_features_list:
        tmp.loc[i, "max_depth"] = max_depth
        tmp.loc[i, "max_features"] = max_features
        tmp.loc[i, "score"] = score_list[i]
        i += 1
tmp

   max_depth max_features     score
0        NaN         auto  0.516932
1        NaN            2  0.508249
2        NaN            5  0.516643
3        2.0         auto  0.507381
4        2.0            2  0.503329
5        2.0            5  0.502171
6        5.0         auto  0.524747
7        5.0            2  0.523878
8        5.0            5  0.521274

In [5]:
tmp = pd.DataFrame()
tmp["max_depth"] = max_depth_list
tmp["max_features"] = max_features_list
tmp

   max_depth max_features
0        NaN         auto
1        2.0            2
2        5.0            5

In [6]:
# 模型训练
max_depth = 5
max_features = "auto"
n_estimators = 1000

X_train = df.values[:, :-3]
y_train = df.values[:, -3].astype("int")
myforest = RandomForestClassifier(
    max_depth=max_depth, n_estimators=n_estimators)
myforest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [7]:
test_df = pd.read_csv("../datasets/after_meta_train.csv")
X_test = test_df.values[:, :-3]
y_test = test_df.values[:, -3].astype("int")

myforest.score(X_test, y_test)

0.7208899162091881

In [8]:
import pickle
with open("../datasets/myforest.pkl", "wb+") as f:
    pickle.dump(myforest, f)